<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-grid col-sm-8 *ngIf="showEasterEgg">
      <ion-row>
        <h1>RIDDLE ME THIS</h1>
      </ion-row>
      <ion-row>
          <h2>{{ easterEggRiddle }}</h2>
      </ion-row>
      <ion-row *ngIf="easterEggWon">
        <img src="assets/imgs/mhr.png">
      </ion-row>
      <ion-row>
          <h3>{{ easterEggResults }}</h3>
      </ion-row>
  </ion-grid>
  
  <ion-grid col-sm-8 *ngIf="!showEasterEgg">
    <ion-card class="global-card">
      <ion-row>
        {{ status }}
      </ion-row>
      <ion-row>
        <div>
          <h1>Today's Messages:</h1>
        </div>
      </ion-row>
      <ion-row>
        <ion-card class="message" *ngFor="let message of globalMessages">{{ message }}</ion-card>
      </ion-row>
    </ion-card>
    <ion-row>

    <ion-card class="global-card">
        <div *ngIf="personalMessages.length == 0" class="waiting-msg">Please step closer to the device</div>
        <ion-card class="message" *ngFor="let message of personalMessages">{{ message }}</ion-card>
    </ion-card>
      
    </ion-row>
    
  </ion-grid>
</ion-content>